<div class="created-container">

  <div class="created-header">
   <p>YOUR WORKOUT</p>
    <h1><%= @title %></h1>
  </div>




  <div class="created-box-container">
    <div class="created-a-determiner">

      <%= simple_form_for @workout do |f| %>
      <%= f.input :photo, as: :file%>
      <%= f.submit "Add", class:"submit-new-button"%>
    <% end %>

    </div>
    <div class="created-timer">
      <%= image_tag "time-logo.png", alt: "time logo" %>
      <div>
        <p><%= @workout.duration %> minutes</p>
      </div>
    </div>
  </div>




  <div class="created-focus">
    <h5>FOCUS</h5>
    <div class="d-flex">
      <div class="focus-array">
        <% @body_focus.each do |focus| %>
          <div class="focus-element">
            <%= focus.capitalize %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

    <div class="created-button">
        <div class="button-height">
          <%= link_to "Share with your friends", share_path, class:"big-button" %>
        </div>
        <div class="button-height text-deco-none">
          <%= link_to "Skip sharing", workouts_path, class:"textdeco"%>
        </div>
    </div>
</div>
