
  <div class="top_bar sticky-top">
    <h2>Workout Created</h2>
  </div>

  <div class="shared-container">
    <div class="shared-card">
      <div class="shared-card-name">
        <%= @user.name %>
      </div>
      <div class="shared-card-else">
      <h3>Your workout</h3>
        <p><strong>Title :</strong> <%= @title %></p>
        <p><strong>Duration : </strong><%= @workout.duration %> minutes</p>
        <p><strong>Body Focus : </strong><%= @workout.body_focus %></p>
        <p><strong>Type of Workout : </strong><%= @workout.type_of_workout %></p>

      </div>
    </div>
  </div>

  <div class="sticky-bot">
    <div class="button-height">
    <%# ajouter le stimulus pour partager %>
      <%= link_to "Share with your friends", send_path, class:"big-button" %>
    </div>

    <div class="button-height text-deco-none">
    <%= link_to "Skip sharing", workouts_path, class:"textdeco"%>
    </div>
  </div>
