<div class="new-container">
  <div class="back-arrow">
    <%= link_to root_path do%>
    <%= image_tag "back.png",alt: "back", width: 16%>

    <% end %>

  </div>

  <%= simple_form_for @workout do |f| %>
    <%= f.input :title,as: :text, label: false, input_html: {class:"form-new", placeholder: "WRITE YOUR WORKOUT NAME"} %>
    <%= f.submit "create"%>
  <% end %>

</div>
