<div class="show-container">
  <%= render 'shared/back_arrow'%>
  <div class="top">
    <h1> <%= @workout.title %> </h1>
    <div class="workout_info">
      <div class="time">
      <p> <%= @workout.duration%></p>
      <p>min</p>
      </div>
      <div class="rounds">
      <p><%= @workout.rounds.size%></p>
      <p>rounds</p>
      </div>
    </div>
  </div>
    <%= render 'shared/vertical_caroussel' %>
  <p><%= @exercises.name %></p>
</div>
