<div data-controller="select-exercise" data-select-exercise-round-id-value=<%= @round.id %> data-select-exercise-workout-id-value=<%=@workout.id%>>
  <div class="top_bar sticky-top">
    <div>
      <div>
        <%= link_to edit_workout_path(@workout) do%>
          <%= image_tag "back.png",alt: "back", width: 42%>
        <% end %>
      </div>
      <h2 class="title-center">Exercises</h2>
    </div>
  <div class="margin-search-bar">

      <%= text_field_tag :query,
        params[:query],
        class: "search-bar-exercise search-background",
        placeholder: "Search",
        data: { action: "keyup->select-exercise#search"}
      %>

  </div>
  </div>


    <div class="container">

      <div>


        <div>
        <br data-select-exercise-target="container">
          <% @exercises.each do |exercise| %>
            <div class="card-exercise" data-select-exercise-target="exercise" data-exercise-id=<%=exercise.id%> data-action="click->select-exercise#select" data-selected=false
              data-title="<%=exercise.title%>" data-focus="<%=exercise.body_part%>">
              <%= simple_form_for [@round,@workout_exercise],html:{class:'d-none'} do |f| %>
              <%= f.input :exercise %>
              <%= f.submit %>

              <% end %>
              <%= image_tag exercise.demonstration, class:"exercise-img"%>
              <div class="font-size">
                <strong><%= exercise.title%></strong>
                <%= image_tag "check_circle.png", alt: "check", width: 24, class:"checked-exercise" %>
                <%= image_tag "check_circle_empty.png", alt: "check", width: 24, class:"not-checked-exercise" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="button-height sticky-bot bottom-btn-bg" >
          <div class="big-button" data-action="click->select-exercise#confirm" >Add exercises</div>
        </div>

      </div>

    </div>
</div>
