

<div class="top_bar sticky-top">
    <div class="back-arrow">
      <%= link_to edit_workout_path(@workout) do%>
      <%= image_tag "back.png",alt: "back", width: 16%>
      <% end %>
    </div>
  <h2>Add exercises</h2>
</div>


  <div class="container">
    <div class="margin-search-bar sticky-top-search">
      <%= form_with url: round_workout_exercises_path, method: :get, class: "search-bar-exercise" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar-exercise",
          placeholder: "Search..."
        %>
        <%= submit_tag "Search", class: "d-none" %>
      <% end %>
    </div>


      <%# Ajouter le fait de pouvoir selectionner et pouvoir submit, enlever le link_to ???%>

    <div data-controller="select-exercise" data-select-exercise-round-id-value=<%= @round.id %>>

      <div >
        <% @exercises.each do |exercise| %>
          <div class="card-exercise" data-select-exercise-target="exercise" data-exercise-id=<%=exercise.id%> data-action="click->select-exercise#select" data-selected=false>
            <%= image_tag exercise.demonstration, class:"exercise-img"%>
            <div class="font-size">
              <%= exercise.title%>
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
        <% end %>
      </div>
          <div class="button-height sticky-bot" >
            <div class="big-button" data-action="click->select-exercise#confirm" >Add</div>
          </div>



    </div>




  </div>
