<div class="navbar">
  <div class="icone d-flex justify-content-between w-100 text-center">

    <%= link_to root_path, class:"element" do %>
      <%= image_tag "home 1.png", class: 'ico'%>
    <% end %>

    <%= link_to workouts_path, class:"element" do %>
      <%= image_tag "gym 1.png", class: 'ico' %>
    <% end %>

    <%= link_to new_workout_path, class:"element" do %>
      <%= image_tag "tab 1.png", class: 'ico'  %>
    <% end %>

    <%= link_to dashboards_path, class:"element" do %>
      <%= image_tag "user 1.png", class: 'ico' %>
    <% end %>
  </div>
</div>
