<div data-controller="round">
 <div class="round-bar">
  <div >
    <div>
      <strong><%= round.name %></strong>
    </div>

    <div class="d-flex align-items-center ">
      <input type="number" class="round-input round-top-input" data-round-target="sets" data-action="blur->round#sendSets" value="<%= round.sets%>" >
      <div><em>rounds</em></div>

    </div>
  </div>

  <div class="d-flex mt-2">
    <div class= "flex-column right-border">
      <input type="number" class="round-input" data-round-target="rest" data-action="blur->round#sendRest" value="<%= round.exercises_rest%>" >
      <div>
        <em>rest</em>
      </div>
    </div>
    <div class= "flex-column right-border">
      <input type="number" class="round-input" data-round-target="reps" data-action="blur->round#sendReps" value="<%= round.exercises_reps%>">
      <div><em>reps/ex</em></div>
    </div>
    <div class= "flex-column">
      <input type="number" class="round-input" data-round-target="extime" data-action="blur->round#sendExtime" value="<%= round.exercises_time%>">
      <div><em>time/ex</em></div>
    </div>
  </div>
 </div>


  <div class="d-none">
    <%= simple_form_for round, data: { round_target: "form", action:"submit->round#update"} do |f|%>
      <%= f.input :sets ,input_html: { data: {round_target:"formsets"}} %>
      <%= f.input :exercises_rest ,input_html: { data: { round_target:"formrest "}}%>
      <%= f.input :exercises_reps ,input_html: { data: {round_target:"formreps"}}%>
      <%= f.input :exercises_time ,input_html: { data: {round_target:"formtime"}}%>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="round-exercises-container">
    <% round.workout_exercises.each do |workout_exercise| %>
      <div class="round-exercise-card">
        <div><%= image_tag workout_exercise.exercise.demonstration , width: 54%></div>
        <div>
          <strong><%= workout_exercise.repetitions %>X</strong>
        </div>
        <div>
          <strong><%= workout_exercise.exercise.title %></strong><br>
          <em><%= workout_exercise.duration %></em>
        </div>
        <div class="exercise-arrow"><%= image_tag "arrow_open.png", width: 8, height: 16 %></div>
      </div>
    <% end %>

  </div>
  <div class="button-height">
    <%= link_to round_workout_exercises_path(round) do%>
          <div class="big-button button-secondary">
            Add exercises
        </div>
    <% end %>
  </div>
</div>
