<div data-controller="round">
 <div class="round-bar">
  <div class="d-flex justify-content-between">
    <div class="title-decoration">
      <h2><%= round.name %></h2>
    </div>
    <input type="number" class="round-input" data-round-target="sets" data-action="blur->round#sendSets" value="<%= round.sets%>" >
    <p>sets</p>
  </div>

  <div class="d-flex justify-content-between">
    <input type="number" class="round-input" data-round-target="rest" data-action="blur->round#sendRest" value="<%= round.exercises_rest%>" >
    <p>rest</p>
    <input type="number" class="round-input" data-round-target="extime" data-action="blur->round#sendExtime" value="<%= round.exercises_time%>">
    <p>sec/ex</p>
    <input type="number" class="round-input" data-round-target="reps" data-action="blur->round#sendReps" value="<%= round.exercises_reps%>">
    <p>reps</p>
  </div>
 </div>


  <div class="d-none">
    <%= simple_form_for round, data: { round_target: "form", action:"submit->round#update"} do |f|%>
      <%= f.input :sets ,input_html: { data: {round_target:"formsets"}} %>
      <%= f.input :exercises_rest ,input_html: { data: { round_target:"formrest "}}%>
      <%= f.input :exercises_reps ,input_html: { data: {round_target:"formreps"}}%>
      <%= f.input :exercises_time ,input_html: { data: {round_target:"formtime"}}%>
      <%= f.submit %>
    <% end %>
  </div>
  <div>
    <% round.workout_exercises.each do |workout_exercise| %>
      <div class="d-flex justify-content-between align-items-center">
        <%= image_tag workout_exercise.exercise.demonstration , width: 40%>
        <div>
          <%= workout_exercise.repetitions %>X
        </div>
        <div>
          <p><strong><%= workout_exercise.exercise.title %></strong></p>
          <p><em><%= workout_exercise.duration %></em></p>
        </div>
        <%= image_tag "arrow_open.png", width: 8, height: 16 %>
      </div>
    <% end %>
  </div>

</div>
