<div class="search-bar">
  <%= form_with url: dashboards_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an workout"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <%if @search_workouts != nil && @search_workouts.empty?  %>
    <h2 class="empty m-5 text-center">No Result Found.</h2>
  <%else %>
    <% if @duration %>
      <h1 class="text-center m-5"><%= @duration.upcase %></h1>
      <% if  @duration_workouts.empty? %>
        <h2 class="empty m-5 text-center">No workout registered.</h2>
      <%else %>
        <div class="cards">
          <% @duration_workouts.each do |workout| %>
            <%= link_to workout_path(workout) do %>
              <%= render 'shared/card_workout', workout: workout %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if @query.present? && @search_workouts != nil %>
    <h2 class="text-center m-5">Results for <%=@query %></h2>
  <% else %>
    <h2 class="text-center m-5">YOUR WORKOUTS</h2>
  <% end %>
  <div class="cards">
    <% @workouts.each do |workout| %>
      <%= link_to workout_path(workout) do %>
      <%= render 'shared/workout_card', workout: workout %>
      <% end %>
    <% end %>

  </div>
</div>
