<div class="slider">
	<div class="slide-track">
		<div class="slide">
      <%= link_to workout_path(9), class:"element" do %>
        <%= render 'shared/workout_card' %>
      <% end %>
    </div>
		<div class="slide">
      <%= link_to workout_path(9), class:"element" do %>
        <%= render 'shared/workout_card' %>
      <% end %>
    </div>
		<div class="slide">
      <%= link_to workout_path(9), class:"element" do %>
        <%= render 'shared/workout_card' %>
      <% end %>
    </div>
		<div class="slide">
      <%= link_to workout_path(9), class:"element" do %>
        <%= render 'shared/workout_card' %>
      <% end %>
    </div>
	</div>
</div>
