
<div class="homebar">
  <%= render 'shared/navbar' %>
</div>
<div class="total">
  <div class="home">
    <div class="container" >

      <h1>Welcome <%= current_user.name if current_user %></h1>

      <div class="quote">
        <%= image_tag "quo.png", classe: "quo" %>
        <p>"A year from now you may wish you had started today"</p>
      </div>

      <div class="display_workout">
        <h2>Select your </h2>
        <h2>session today</h2>
      </div>

      <div class="caroussel">
          <%= render 'shared/slider' %>
      </div>
    </div>
  </div>

</div>
  <div class="nbar sticky-bot">
    <%= render 'shared/nbar' %>
  </div>